In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#for encoding
from sklearn.preprocessing import LabelEncoder
#for train test split
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv("Final_dataset_1.csv")
data.head()

,age,education,novel,indoor game,outdoor game,use a mobile,movie type,movie genre,newspaper,ott,social media,job
0,43,UG,Romance,Carrom Board,Cricket,Frequently,Hollywood,Science Fiction,No,Netflix,Instagram,IT
1,39,UG,Science Fiction,Shuttle,Cricket,Occasionally,Hollywood,Science Fiction,No,Disney + Hotstar,Instagram,Employee
2,39,PG,Science Fiction,Shuttle,Football,Frequently,Hollywood,Science Fiction,No,Disney + Hotstar,Whatsapp,Government job
3,23,UG,Science Fiction,Card Games,Kabaddi,Occasionally,Kollywood,Science Fiction,No,Disney + Hotstar,You Tube,Farmer
4,44,PG,Mysteries,Carrom Board,Cricket,Frequently,Kollywood,Action,No,Disney + Hotstar,Instagram,Employee

In [4]:
data.shape

(362, 12)

In [5]:
data.isnull().sum()

age             0
education       0
novel           0
indoor game     0
outdoor game    0
use a mobile    0
movie type      0
movie genre     0
newspaper       0
ott             0
social media    0
job             0
dtype: int64

In [6]:
data.columns

Index(['age', 'education', 'novel', 'indoor game', 'outdoor game',
       'use a mobile', 'movie type', 'movie genre', 'newspaper', 'ott',
       'social media', 'job'],
      dtype='object')

In [7]:
data['education']= data['education'].map({'10th':0, '12th':1, 'UG':2, 'PG':3})
data['novel']= data['novel'].map({'Mysteries':0, 'Fantasy':1, 'Romance':2, 'Science Fiction':3})
data['indoor game']= data['indoor game'].map({'Chess':0, 'Carrom Board':1, 'Shuttle':2, 'Card Games':3})
data['outdoor game']= data['outdoor game'].map({'Cricket':0, 'Football':1, 'Kabaddi':2, 'Hockey':3})
data['use a mobile']= data['use a mobile'].map({'Rarely':0, 'Occasionally':1, 'Frequently':2})
data['movie type']= data['movie type'].map({'Hollywood':0, 'Bollywood':1, 'Kollywood':2, 'Tollywood':3, 'Sandalwood':4})
data['movie genre']= data['movie genre'].map({'Drama':0, 'Action':1, 'Comedy':2, 'Science Fiction':3})
data['newspaper']= data['newspaper'].map({'Yes':0, 'No':1})
data['ott']= data['ott'].map({'Netflix':0, 'Disney + Hotstar':1, 'Amazon Prime':2, 'Sony LIV':3})
data['social media']= data['social media'].map({'Instagram':0, 'Facebook':1, 'Twitter':2, 'You Tube':3, 'Whatsapp':4})

In [8]:
data.head()

,age,education,novel,indoor game,outdoor game,use a mobile,movie type,movie genre,newspaper,ott,social media,job
0,43,2,2,1,0,2,0,3,1,0,0,IT
1,39,2,3,2,0,1,0,3,1,1,0,Employee
2,39,3,3,2,1,2,0,3,1,1,4,Government job
3,23,2,3,3,2,1,2,3,1,1,3,Farmer
4,44,3,0,1,0,2,2,1,1,1,0,Employee

In [9]:
target = data['job']

In [10]:
le = LabelEncoder()
target = le.fit_transform(target)
target

array([ 7,  4,  6,  5,  4,  4,  6,  5,  6,  2,  6,  1,  9,  5,  1,  3,  0,
        1,  6,  6,  4,  2,  5,  1,  4,  9,  6,  4,  7,  4,  6,  7,  7,  5,
        5,  6,  6,  9,  0,  3,  4,  6,  7,  3,  7,  6, 10,  8,  6, 10,  7,
        4,  1,  5,  4,  8,  5,  1,  9,  2,  0,  1,  0,  4,  9,  4,  7,  2,
        3,  7,  4,  2,  0,  8,  8,  2,  8,  9,  0,  4, 10,  8,  5,  4,  6,
        3,  4,  5,  1,  5,  4,  6,  4,  4, 10,  1,  0,  0,  0,  1,  5,  7,
        4,  5,  4,  4,  5,  2,  1,  9,  5,  1,  3,  0,  1,  4,  2,  5,  4,
        9,  4,  7,  4,  3,  7,  7,  5,  5,  9,  9,  0,  4,  3,  7,  1,  3,
        1,  7,  3,  4,  6,  5,  4,  8,  5,  1,  2,  0,  4,  0,  4,  4,  7,
        2,  1,  7,  4,  2,  0,  8,  8,  2,  8,  9,  0,  4, 10,  8,  5,  4,
        4,  5,  5,  4,  4,  4,  4,  0,  0,  0,  2,  5,  7,  4,  5,  4,  4,
        5,  2,  1,  5,  1,  0, 10,  4,  2,  5,  4,  9,  4,  7,  4,  3,  7,
        7,  5,  5,  9,  9,  0,  4,  3,  7,  1,  3,  1,  7,  4,  3,  9,  9,
        1,  5,  4,  8,  5,  1,  9,  2,  0,  4,  0,  4,  9,  3,  4,  7,  2,
        1,  7,  4,  2,  0,  8,  8,  2,  8,  9,  0,  4, 10,  8,  5,  4,  4,
        5,  5,  4,  4,  4,  4,  0,  0,  9,  9,  0,  2,  5,  7,  4,  5,  4,
        1,  5,  2,  4,  5, 10,  0,  1,  4,  2,  5,  4,  4,  7,  4,  7,  7,
        5,  5,  9,  0,  4,  7,  6,  3, 10,  7,  4,  3,  9,  9,  1,  5,  4,
        8,  5,  1,  9,  2,  0,  4,  0,  4,  9,  4,  7,  2,  1,  7,  1,  1,
        0,  8,  8,  2,  8,  3,  0,  4, 10,  8,  5,  1,  3,  4,  5,  5,  4,
        4,  4,  1,  0,  3,  0,  9,  9,  0,  2,  5,  7,  4,  7,  4,  5,  4,
        4,  5,  2,  1,  9])

In [11]:
df1 = data.copy()

In [12]:
df1 = data.drop(['age','job'],axis=1)
df1.head()

,education,novel,indoor game,outdoor game,use a mobile,movie type,movie genre,newspaper,ott,social media
0,2,2,1,0,2,0,3,1,0,0
1,2,3,2,0,1,0,3,1,1,0
2,3,3,2,1,2,0,3,1,1,4
3,2,3,3,2,1,2,3,1,1,3
4,3,0,1,0,2,2,1,1,1,0

In [13]:
x = df1

In [14]:
y = target

In [15]:
# data split
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size = 0.3, random_state = 21)

In [16]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((253, 10), (109, 10), (253,), (109,))

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import  classification_report, confusion_matrix,accuracy_score

In [18]:
classifier = RandomForestClassifier(n_estimators=100,criterion='gini', random_state=100)
hist = classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)

In [19]:
##Classifcation report
print('Classifcation report:\n', classification_report(y_test, y_pred,zero_division=0))

Classifcation report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        17
           1       1.00      0.67      0.80        15
           2       0.89      1.00      0.94         8
           3       0.33      1.00      0.50         3
           4       0.77      1.00      0.87        20
           5       1.00      1.00      1.00        16
           6       1.00      0.17      0.29         6
           7       1.00      0.92      0.96        12
           8       1.00      0.80      0.89         5
           9       1.00      1.00      1.00         5
          10       1.00      0.50      0.67         2

    accuracy                           0.88       109
   macro avg       0.91      0.82      0.81       109
weighted avg       0.93      0.88      0.88       109

In [20]:
import pickle

In [21]:
pickle.dump(classifier, open('RF_Career.pkl','wb'))